<%- include("../partials/head.ejs") -%>
<h2>Game name : <%= gameName %></h2>
<h2> Welcome <%= playerName %></h2>

<div id="player-list" class="pl-list">
    <ul>
        <% for (let playerName in games[gameName].players) { %>
            <% let player = games[gameName].players[playerName]; %>
            <li class="<%= player.status %>"><%= player.name %> status: <%= player.status %></li>
        <% } %>
    </ul>
</div>
<% if(!games[gameName].isGameStarted) { %>
    <div id="start-game-button">
        <button id="start-game" class="btn btn-primary" onclick="startGame('<%=gameName%>', '<%=playerName%>')">Start Game</button>
    </div>
<% } %>
    <div id="game-area" class="game-area display-none">
        <div id="monster-info" class="monster-info"></div> 
        <div class="top-game-area">
            <!-- To place monsters -->
            <div id="monster-placement" class="monster-placement"></div> 
            <button id="endTurn" class="btn btn-danger" onclick="endTurn('<%=gameName%>', '<%=playerName%>')">End Turn</button>
        </div>
        
        <!--<div id="monsters-info" class="monsters-info"></div>-->
        <div id="gameBoard" class="game-board">
            
            <% games[gameName].board.forEach((row, rowIndex) => { %>
                <!-- Each row -->
                <div class="board-row">
                    <% row.forEach((cell, colIndex) => { %>
                        <!-- Each collumn (cell in row) -->
                        <div class="cell" data-row="<%= rowIndex %>" data-col="<%= colIndex %>">
                            <%= cell || '' %> 
                        </div>
                    <% }) %>
                </div>
            <% }) %>
        </div>

    </div>
    <script src="/client.js"></script>
    <div id="surrender-button">
        <button id="start-game" class="btn btn-danger" onclick="surrender('<%=gameName%>', '<%=playerName%>')">Surrender</button>
    </div>
    
<%- include("../partials/footer.ejs") -%>