<%- include("../partials/head.ejs") -%>
<!-- Title -->
<h1>Monster Mayhem</h1>
<br/>
<br/>

<!-- Games that are played -->
<div id="played-games" class="played-games">
    <!-- Check if there is games object-->
    <% if(games) { %>
        <!-- If Games object has properties -->
        <% if (Object.keys(games).length > 0) { %>
            <!-- Display title for games list -->
            <h2>Games in progres: </h2>
            <!-- Display list of all games -->
            <ul class="list">
                <% for (let gameName in games) { %>
                    <% let game = games[gameName]; %>
                    <!-- each game in games-->
                    <li>
                        <!-- Game name and number of current players / maximum players-->
                        <strong>Game Name:</strong> <%= gameName %> --- <span class="players"><%= game.currentPlayers %> / <%= game.maxPlayers %></span>
                        <div class="status">Is game in progress:<%= game.isGameStarted %></div>
                        <!-- List players -->
                        <strong>Players:</strong>
                        <ul class="inside-list">
                            <% for (let playerName in games[gameName].players) { %>
                                <!-- display player name for each player in games-->
                                <li><%= playerName %></li>
                            <% } %>
                        </ul> 
                        <!-- if there is available slots to join game -->
                        <% if(game.currentPlayers < 4 && !game.isGameStarted) { %>
                            <!-- show join game button -->
                            <button class="btn btn-primary" onclick="joinGame('<%=gameName%>')">Join Game</button>
                        <% } else { %>
                            <!-- if no display messasage game is full -->
                            <span class="full-game">Game is full or in progress</span>
                        <% } %> 
                    </li>    
                <% } %>
            </ul>
        <% } else { %>
            <!-- else there are no games in progress -->
            <h2> No games currently in progress</h2>
        <% } %>
    <% } %>   
</div>

<!-- option to create new game -->
<div class="new-game">
    <button class="btn btn-primary" onclick="startNewGame()">Create New Game</button>
</div>

<script src="/client-index.js"></script>
<%- include("../partials/footer.ejs") -%>