<%- include("../partials/head.ejs") -%>
<h1>Monster Mayhem</h1>
<br/>
<br/>
<div class="player-statistic">
    <p>Games Played: <%= gamesPlayed %></p>
    <div>
        <h2>Player Stats</h2>
        <% for (let player in playersStats) { %>
            <p><%= player %>: <%= playersStats[player].gamesWon %> wins</p>
            <p><%= player %>: <%= playersStats[player].gamesLost %> lose</p>
        <% } %>
    </div>
</div>

<div>
    <button id="startGame" class="btn btn-primary" onclick="startGame()">Start Game</button>
    <button id="placeMonster" class="btn btn-secondary" onclick="placeMonster()">Place Monster</button>
    <button id="endTurn" class="btn btn-danger" onclick="endTurn()">End Turn</button>
</div>

<div id="gameBoard">
    
    <% board.forEach((row, rowIndex) => { %>
        <!-- Each row -->
        <div class="board-row">
            <% row.forEach((cell, colIndex) => { %>
                <!-- Each collumn (cell in row) -->
                <div class="cell" data-row="<%= rowIndex %>" data-col="<%= colIndex %>">
                    <%= cell || '' %> 
                </div>
            <% }) %>
        </div>
    <% }) %>
</div>
<%- include("../partials/footer.ejs") -%>