<%- include("../partials/head.ejs") -%>
<h1>Monster Mayhem</h1>
<br/>
<br/>

<h2>Games in progres</h2>
<div class="played-games">
    <% if(games &&games.length === 0) { %>
        
        <p>no games in progress</p>
        <button class="btn btn-primary" onclick="startNewGame()">Start New Game</button>
    <% } else { %>
        <ul class="list">
        <% for (let game of games) { %>
            <li class="li"><%= game.name %>: 
                <span class="players">Players <%= game.players.length %>/4</span>
                <% if(game && game.players && game.players.length < 4) { %>
                    <button class="btn btn-primary" onclick="joinGame('<%=game.name%>')">Join Game</button>
                <% } else { %>
                    <span class="full-game">Game is full</span>
                <% } %>    
            </li>    
        <% } %>
        </ul>
    <% }%>
</div>
<div class="new-game">
    <button class="btn btn-primary" onclick="startNewGame()">Create New Game</button>
</div>

<div class="player-statistic">
    <p>Games Played: <%= gamesPlayed %></p>
    <div>
        <h2>Player Stats</h2>
        <% for (let player in playersStats) { %>
            <p><%= player %>: <%= playersStats[player].gamesWon %> wins</p>
            <p><%= player %>: <%= playersStats[player].gamesLost %> lose</p>
        <% } %>
    </div>
</div>
<script src="/client-index.js"></script>
<%- include("../partials/footer.ejs") -%>